body {
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.hidden {
    opacity: 0;
}

.playerHost {
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    height: 330px;
}

    .playerHost .azuremediaplayer {
        border: none;
    }

    .playerHost .azuremediaplayer .amp-moreoptions-control, .playerHost .azuremediaplayer .vjs-volume-menu-button,.playerHost .azuremediaplayer .vjs-loading-spinner {
        display: none;
    }

    .playerHost .azuremediaplayer .vjs-control-bar{
        height: 20px;
    }

    .playerHost .azuremediaplayer .vjs-play-control:before , .playerHost .azuremediaplayer .vjs-time-controls, .playerHost .azuremediaplayer .vjs-fullscreen-control:before {
        font-size: 10px;
    }

    .playerHost .tutorialPane {
        min-width: 200px;
        width: 200px;
        height: 100%;
        
        background-color: #e5e5e5;

        border-top-right-radius: 5px;        

        display: flex;
        flex-direction: column;

        transition: transform 300ms ease-in-out, opacity 300ms ease-in-out 100ms;
    }

    .playerHost .tutorialPane:not(input) {    
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: default;
        -webkit-touch-callout: none;
        user-select: none;
    }

    .playerHost .tutorialPane.closedPane {
        opacity: 0;
    }

    .playerHost .tutorialPane .tutorialContent {
        width: 100%;
        overflow-y: auto;

        font-family: Helvetica, 'Segoe UI', Ariel, sans-serif;
        color: #737889;

        font-size: 8pt;

        position: relative;
        flex: 1 1 auto;
    }

    .playerHost .tutorialPane .tutorialContent .tutorialSection {
        margin: 5px 5px 5px 15px;
        height: 100%;
    }

    .playerHost .tutorialPane .tutorialContent .tutorialSection h3 {
        margin: 10px 0px 5px 0px;
    }

    .playerHost .tutorialPane .tutorialContent .tutorialSection ul, .tutorialSection ol {
        padding-left: 15px;
        margin: 0px;
    }

    .playerHost .tutorialPane .tutorialContent .tutorialSection ol {
        margin-bottom: 20px;
    }

    .playerHost .tutorialPane .tutorialContent .tutorialSection ol li {
        margin-top: 10px;
    }

    .playerHost .tutorialPane .dockedSection{
        flex: 0 1 auto;
        
        font-family: "HelveticaNeue-Light", "HelveticaNeueLight", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegar', "Segoe UI Light", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; 
        font-weight:200; 
        margin: 0; 
        font-size: 8pt;
        height: 15px;
        color: #737889;
        background-color: lightgray;
    }

    .playerHost .tutorialPane .dockedSection.chat{
       height: 200px;

        display: flex;
        flex-direction: column;
        border: 2px solid lightblue;
        transition: height 300ms ease-in-out;

        flex: 1 0 auto;

    }

    .playerHost .tutorialPane .dockedSection.collapsed.chat .chatHeader:hover {
        background-color: lightblue;
        opacity: 0.8;
    }

    .playerHost .tutorialPane .dockedSection.chat.collapsed {
        transition: height 250ms ease-in-out;
        height: 25px;
        flex: 0 0 auto;
    }

    .playerHost .tutorialPane .dockedSection.chat .chatHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: lightblue;
        height: 30px;
        transition: flex 250ms ease-in-out;

        cursor:pointer;

    }

    .playerHost .tutorialPane .dockedSection.chat.collapsed .chatHeader {
        flex: 1 0 100%;
        transition: flex 250ms ease-in-out;
    }

        .playerHost .tutorialPane .dockedSection.chat .chatHeader .headerLabel {
            margin-left: 15px;
          
        }

        @keyframes pulse {
            0% {
                transform: scale(1.0);
            }

            50% {
                transform: scale(1.2);
            }
            
            100% {
                transform: scale(1.0);
            }
        }



        .playerHost .tutorialPane .dockedSection.chat .chatHeader .userCount {
            background-color: rgba(255, 255, 255, 0.4);
            color: #737830;
            border-radius: 2px;
            min-width: 15px;
            height: 15px;
            text-align: center;

            padding: 0 2px 0 2px;

            margin: 2px;

            transition: opacity 250ms ease-in;
        }

        .playerHost .tutorialPane .dockedSection.chat .chatHeader .userCount.pulse {
            animation: pulse 300ms ease-in-out 1 alternate;
        }

    .playerHost .tutorialPane .dockedSection.chat .chatBody {
        height: 100%;  
        flex: 1 auto;
        background-color: white;
        display: flex; 
        flex-direction: column;

        overflow-y: auto;
        padding-bottom: 10px;
        border-bottom: 2px solid white;

        transition: opacity 150ms ease-in-out 300ms;

         

    }

    .playerHost .tutorialPane .dockedSection.chat.collapsed .chatBody {
        opacity: 0;
        transition: opacity 100ms ease-in-out;
    }

    .playerHost .tutorialPane .dockedSection.chat .chatBody .chatBubbleLabel {
        font-size: 6pt;
        margin-bottom: 2px;
    }

    .playerHost .tutorialPane .dockedSection.chat .chatBody .chatBubbleContent{
        background-color: lightgray;

        overflow: hidden;
        text-overflow: ellipsis;

        width: 100%;
        padding: 5px;
        border-radius: 5px;


    }

    .playerHost .tutorialPane .dockedSection.chat .chatBody .chatBubble.mine .chatBubbleContent {
        background-color: lightblue;
    }

    .playerHost .tutorialPane .dockedSection.chat .chatBody .chatBubble {
       
        align-self: flex-start;
        max-width: 80%;    
        min-width: 10%;   
        margin: 10px 20px 0px 10px;


        transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;

        flex: 0 0 auto;
    }

    .playerHost .tutorialPane .dockedSection.chat .chatBody .chatBubble.typingMessage  {
        opacity: 0;
        transform: translateX(-100px);

    }

     .playerHost .tutorialPane .dockedSection.chat .chatBody .chatBubble.typingMessage.showing, .playerHost .tutorialPane .dockedSection.chat .chatBody .chatBubble.mine.showing  {
         opacity: 1;
         transform: translateX(0px);
        transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;

     }

    .playerHost .tutorialPane .dockedSection.chat .chatBody .chatBubble.mine {
        align-self: flex-end;
        opacity: 0;
        transform: translateX(100px);

    }


    .playerHost .tutorialPane .dockedSection.chat .chatInput {
        height: 30px;
        flex: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: lightblue;

        border-top: 1px solid lightblue;
        width: 100%;

        transition: translateY 200ms ease-in-out;
    }

    .playerHost .tutorialPane .dockedSection.chat.collapsed .chatInput  {
        transform: translateY(50px);
        transition: translateY 200ms ease-in-out 200ms;
        user-select: text;
    }


    .playerHost .tutorialPane .dockedSection.chat .chatInput input {
      
        margin-left: 1px;
        margin-right: 1px;
        border: none;    

        color: #737889;
        font-size: 7pt;
        padding: 5px;
    }
    .playerHost .tutorialPane .dockedSection.chat .chatInput input:focus { 
        outline: none;
     }


     .playerHost .tutorialPane .dockedSection.dockedHeader{
        border-top-right-radius: 5px;
        font-size: 11pt;
        padding: 5px 5px 5px 15px;
        font-weight: 100;
        flex: 0 0 auto;

        color: white;
        background-color: #737889;
    }

    .playerHost .tutorialPane a.dockedSection{
        text-decoration: none;
        padding: 5px 5px 5px 15px;
        flex: 0 1 auto;
        transition: opacity 100ms ease-in-out;
    }

    .playerHost .tutorialPane a.dockedSection:hover{
        background-color: lightblue;
        opacity: 0.8;
    }

      .playerHost .tutorialPane a.dockedSection.hidden{
        display: none;
    }

